body {
  font-family: helvetica, arial, sans-serif;
  text-size-adjust: none;

}

#map {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#info {
  z-index: 100;
  position: absolute;
  /*bottom: 0px;*/
  top: 0px;
  left: 0px;
  /*padding: 10px 10px 0 10px;*/
  /* nowrap for title below causes the 30px padding on the right*/
  /*padding: 10px 30px 0 10px;*/
  padding: 10px 30px 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  /*max-width: 425px;*/
  font-size: 0.85em;
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-top: none;
  border-left: none;
  border-radius:0 0 4px 0;

  /*width: 60vw;*/
  /*pointer-events: none;*/
}

#info div.title {
  white-space: nowrap;
  /*margin-bottom: -5px;*/
}

#info strong{
  /*font-size: 1.5em;*/
  letter-spacing: 0.5px;
  font-size: 1.3em;
  font-family: 'PT Sans Narrow', sans-serif;
}
p.right {
  text-align: right;
}
p.small {
  /*font-size: 0.85em;*/
  font-family: monospace;
}
a {
  color: rgb(45,40,200);
  text-decoration: none;
  font-weight: bold
}
a:visited { color: rgb(45,40,200); }

a:hover {  color: rgb(45,40,200); }

a.moreinfo {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 0.9em;
  /*padding: 5px;*/
}

#info p {
  margin-left: 20px;
  max-width: 300px;
}

/*
from https://www.mapbox.com/mapbox-gl-js/example/filter-markers/
*/

.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    /*width: 120px;*/
    max-width: 100px;

    color: #fff;
}

.filter-group input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type=checkbox] {
    display: none;
}

.filter-group input[type=checkbox] + label {
    /*background-color: #3386c0;*/
    background-color: rgb(40,40,40);
    display: block;
    cursor: pointer;
    /*padding: 10px;*/
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type=checkbox] + label {
    /*background-color: #3386c0;*/
    text-transform: capitalize;
}

/*.filter-group input[type=checkbox] + label:hover,*/
.filter-group input[type=checkbox]:checked + label {
    /*background-color: #4ea0da;*/
    background-color: rgb(70,70,70);
}

.filter-group input[type=checkbox] + label:hover {
  /*text-decoration: underline;*/
  background-color: rgb(90,90,90);

}

.filter-group input[type=checkbox]:checked + label:before {
    content: '✔';
    margin-right: 5px;
}

#filter-kind-group {
  bottom: 50px;
}

#all-years-group {
    bottom:10px;
    max-width: 120px;
}
